{% extends 'layout.html.twig' %}

{% block content %}
	<main>
		<div id="textContribute">
			<h1>Écrire un nouveau chapitre</h1>
			<p>Remplissez le formulaire ci-dessous pour ajouter un chapitre.
				<br>
				N’oubliez pas de consulter la charte utilisateur avant de cliquer sur “Enregistrer”.</p>
			<button type="submit">Charte utilisateur</button>
		</div>
		<div id="container">
			<div class="image">
				{%if story.picture %}
					<img src="{{ story.picture }}" alt="couverture e-stoire">
				{% else %}
					<img src="/assets/images/default.png" alt="couverture e-stoire">
				{% endif %}
			</div>
			<div class="story">
				<div class="title">
					<h2>{{ story.title }}</h2>
				</div>
				<div class="pseudo">
					<p>{{ story.pseudo }}</p>
				</div>
				<div class="chapter">
					<img src="/assets/images/list_chapters.png" alt="logo liste chapitres">
					<p>{{ story.nbchapter }}
						chapitres</p>
				</div>
				<div class="type_age">
					<div class="type">
						<p>{{ story.genre }}</p>
					</div>
					<div class="age">
						<p>{{ story.lectorat }}
							ans</p>
					</div>
				</div>
				<div class="description">
					<p>{{ story.description }}</p>
				</div>
				<button type="submit">
					<a href="/stories/show?id={{ story.id }}">Lire tous les chapitres</a>
				</button>
			</div>
		</div>
		<section id="form">
			{% include 'Chapter/_form.html.twig' %}
		</section>
	</main>
{% endblock %}
