<div id="container">
	<div class="image">
		<img src="{{ story.picture }}" alt="coverture e-stoire">
	</div>
	<div class="story">
		<div class="title">
			<h2>{{ story.title }}</h2>
		</div>
		<div class="pseudo">
			<p>{{ story.pseudo }}</p>
		</div>
		<div class="chapter">
			<img src="/assets/images/list_chapters.png" alt="logo liste chapitres">
			<p>{{ story.nbchapter }}
				chapitres</p>
		</div>
		<div class="type_age">
			<div class="type">
				<p>{{ story.genre }}</p>
			</div>
			<div class="age">
				<p>{{ story.lectorat }}
					ans</p>
			</div>
		</div>
		<div class="description">
			<p>{{ story.description }}</p>
		</div>
		{% if story.ended %}
			<input
			type="button" value="Lire" onclick="window.location.href='/stories/show?id={{ story.id }}'">

			{# <button type=" submit">
																			<a href="/stories/show?id={{ story.id }}">Lire</a>
																		</button> #}

		{% else %}
			{% if user %}
				{# <input
																																				type="button" value="Contribuer" onclick="window.location.href='/chapters/add?id={{ story.id }}'" style="background: #F5664B; width: 20%; border: none;"> #}
				<button type="submit">
					<a href="/chapters/add?id={{ story.id }}">Contribuer</a>
				</button>
			{% else %}
				{# <input
																																type="button" value="Contribuer" onclick="window.location.href='/login'" style="background: #F5664B; width: 20%; border: none;"> #}
				<button type="submit">
					<a href="/login">Contribuer</a>
				</button>
			{% endif %}
		{% endif %}
	</div>
</div>
