<div id="container">
	<div class="image">
		<img src="{{ story.picture }}" alt="coverture e-stoire">
	</div>
	<div class="story">
		<div class="title">
			<h2>{{ story.title }}</h2>
		</div>
		<div class="pseudo">
			<p>{{ story.pseudo }}</p>
		</div>
		<div class="chapter">
			<img src="/assets/images/list_chapters.png" alt="logo liste chapitres">
			<p>{{ story.nbchapter }}
				chapitres</p>
		</div>
		<div class="type_age">
			<div class="type">
				<p>{{ story.genre }}</p>
			</div>
			<div class="age">
				<p>{{ story.lectorat }}
					ans</p>
			</div>
		</div>
		<div class="description">
			<p>{{ story.description }}</p>
		</div>
		{% if story.ended %}
			<button type="submit">
				<a href="/stories/read">Lire</a>
			</button>
		{% else %}
			<button type="submit">
				<a href="/stories/cooperate">Contribuer</a>
			</button>
		{% endif %}
	</div>
</div>
