{% extends 'layout.html.twig' %}


{% block content %}
	{% include 'Chapter/_story.html.twig' %}
	<h1>{{ story.title }}</h1>
	<h3>{{ chapter.number }}</h3>
	<h3>{{ chapter.title }}</h3>
	<p>{{ chapter.content}}</p>
	{# <a href="/stories/edit?id={{ story.id }}">Edit</a> #}
{% endblock %}
