{% extends 'layout.html.twig' %}

{% block content %}
	<main id="read">

		{% include 'Chapter/_story.html.twig' %}
		<section id="chapters">
			{% for chapter in chapters %}

				<hgroup class="chapter-title">
					<h3>
						{{ chapter.title }}
					</h3>
					<h4>
						{{ "Chapitre #{chapter.number}" }}
					</h4>
				</hgroup>

				<div class="content">
					<p>
						{{ chapter.content }}
					</p>
				</div>

				<div class="author">
					<p>
						{{ "Auteur·ice: #{chapter.pseudo}" }}
					</p>
				</div>

			{% endfor %}
		</section>

		<div id="read-buttons">
			<a href="/stories/edit?id={{ story.id }}" role="button" class="secondary outline">Modifier l'e-stoire</a>
			<a href="/stories" role="button" class="outline" id="edit-button">Lire une autre e-stoire</a>
		</div>

	</main>
{% endblock %}
