{% extends 'layout.html.twig' %}


{% block content %}
	<main>
		{% include 'Chapter/_story.html.twig' %}
		{# {{ dump(story)}} #}
		{% for chapter in story %}
			<h3>{{ chapter.chapter_number }}</h3>
			<h3>{{ chapter.chapter_title }}</h3>
			<p>{{ chapter.chapter_content}}</p>
			{# <a href="/stories/edit?id={{ story.id }}">Edit</a> #}
		{% endfor %}

	</main>
{% endblock %}
